# Ignore dependencies
node_modules/
npm-debug.log
yarn-error.log

# Ignore build files
build/
dist/

# Ignore environment variables
.env
.env.local
.env.production
.env.development

# Ignore system files
.DS_Store
Thumbs.db
